// Place all the styles related to the media controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$secondary: yellow ;
$primary: white;

body{
  font-size: 12px;
  
}

.header{
  margin: 1em 0;
  font-size: 3em;
  font-weight: bold;
  background-color: $primary;
  padding: 0.6em;
  .text{
    margin-left: 2em;
    color: $secondary;
  }
}

.medium_content {
    background-color: $primary;

  .container{
    height: 5em;
    background-color: $secondary;

    .new_link{
      position: relative;
      bottom: -2.1em;
      background-color: red;
      width: 40%;
      height: 1.8em;
      cursor:  pointer;
      a{ 
        margin: 0 2em;
        font-size: 1.5em; text-decoration: none; color: white;
      }
    }
  }
  .media{
    position: relative;


    .medium{

      .facebook_comments{
        overflow: hidden;
        width: 100%;
        .fb-comments{
        }
        &.visible{
        height: 30em;
        }

        height: 0;
        -webkit-transition-duration: 1s;
        -moz-transition-duration: 1s;
        -ms-transition-duration: 1s;
        -o-transition-duration: 1s;
        transition-duration: 1s; 
      }

      width: 90%;
      margin: 0 3em;
      background-color: $secondary;
      min-height: 13em;
      width: 100%;
      margin: 1em 0;
      padding: 0.3em;
      text-align: left;

      .col{
        @media screen and (max-width: 800px){
          &.right, &.middle, &.left{
            width: 90%;
            margin: 1em 1em;
            text-align: center;
          }
        }
        &.right{
          float: right;
          height: 100%;
          margin-right: 2em;
          min-width: 25%;
        }
        &.middle{
          min-width: 25%;
          height: 100%;

        }
        &.left{
          height: 100%;
          min-width: 25%;
          padding: 0.6em 0 0 1.3em;
        }
        float: left;
        height: 100%;
      }

      .name, .description{
        position: relative;
        font-size: 2em;
        margin: 0.4em 0;
        display: inline-block;
        margin-right: 2em;
      }
      .date{
      }
      .description{
        font-size: 1.3em;
      }

      .address{


      }
    }
  }
}